@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

:root {
  /* Font size */
  --font-large: 40px;
  --font-medium: 25px;
  --font-small: 20px;
  --font-micro: 15px;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--font-small);
}

*::placeholder,
button {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.planner {
  text-align: center;
  position: relative;
  padding: 30px;
  background-color: white;
}

.planner #planner_name {
  font-size: var(--font-large);
  letter-spacing: 5px;
  font-weight: 400;
}

.planner .settings {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  opacity: 0.5;
}

.planner .settings:hover {
  opacity: 1;
}

.planner .rename {
  position: fixed;
  top: 10px;
  right: 10px;
}

.planner .background_change {
  position: fixed;
  top: 40px;
  right: 10px;
}

.planner .get_weather {
  position: fixed;
  top: 70px;
  right: 10px;
}

/* Section 2. Task */
li {
  list-style: none;
}

.my-plans {
  display: flex;
  justify-content: center;
}

.my-plans .goal {
  margin: 10px 15px;
  padding: 10px 20px;
}

.my-plans .todo-list {
  margin: 10px 15px;
  padding: 10px 20px;
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-stuff button.btn {
  font-size: var(--font-micro);
}

/* Section 3. Features */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.clock-box {
  width: 90%;
}

.clock-box .times {
  display: flex;
  justify-content: center;
}

.clock-box .times p {
  padding: 0 30px;
  margin: 5px;
}

.clock-box .times p:last-child {
  font-weight: 600;
}

h2 {
  font-size: var(--font-medium);
  font-weight: 600;
  letter-spacing: 4px;
  text-shadow: 2px 2px #dddddd;
  margin-bottom: 0;
}

#mention {
  color: #dee8f6;
  text-transform: none;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  margin-top: 0;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  :root {
    /* Font size */
    --font-large: 45px;
    --font-medium: 30px;
    --font-small: 24px;
  }

  .weater-audio {
    display: flex;
  }
}
